<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form method="post">
     {% csrf_token %}

     {{ form }} Digite aqui a sua resposta!
     <br>
     <br>
     <button type="submit">Salvar</button>

    <br/>
    <br/>
    <a href="{% url 'question' %}">Tente novamente</a>


 </form>

</body>
</html>