<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
    </head>

    <body>
    {% if is_correct %}
        Resposta correta!<a href="{% url 'salve_to_db' %}">Click aqui para salvar!</a>

    {% else %}
        Resposta errada!
    {% endif %}

    <br/>
    <br/>
    <a href="{% url 'question' %}">Tente novamente</a>

    </body>
</html>