<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
    {% for quest in questions %}
        <li>
            <a href="{% url 'update_question_list' quest.id %} ">
                 - Nome : {{ quest.cadastro }}
                <br>
                 - Resposta Escolhida foi: {{ quest.answer_quest }}

                <br>
                {% if quest.answer_quest == '32' %}
                    - A Resposta esta: Certa
                {% else %}
                    - A Resposta esta: Errada
                {% endif %}
                <br>
                <br>
            </a>
        </li>


    {% endfor %}
    </ul>
</body>
</html>