<!DOCTYPE html>
<html>
    <head>
        <title>Questão 1</title>
    </head>

    <body>
        <a href="{% url 'logout' %}">Sair</a>
        <form action="{% url 'question_answer' %}" method="POST">
            {% csrf_token %}
            <p>{{ question_text }}</p>

            {% for letter, value in answers.items %}
                <input type="radio" name="answer" value="{{ letter }}"><b>{{ letter }}.</b> {{ value }}</input><br/>

            {% endfor %}

            <br/>
            <input type="submit" value="Ok" />
        </form>
    </body>
</html>