<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <form method="post">
         {% csrf_token %}

            {{ form.as_p}}

        <button type="submit">Salvar</button>

    </form>

</body>
</html>