<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cadastro</title>
</head>
<body>
<h1>RESPOSTA SALVA!</h1>

<h3>Dados do Candidato</h3>
<h3>Nome: Alexandre Leonel de Oliveira</h3>
<h3>e-mail: aleleonel@gmail.com</h3>
<h3>telefone: 11 971512237</h3>
<h3>Cidade: Jundiaí - SP</h3>

<a href="{% url 'question' %}">Clique aqui para Responder as Questões</a>
</body>
</html>