<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question List</title>
</head>
<body>
<ul>
    {% for person in persons %}

            <li>
                <a href="{% url 'cadastro_update' person.id %} ">
                - Nome: {{ person.nome }}
                <br>  - Sobrenome: {{ person.sobrenome }}
                <br>  - Idade: {{ person.idade }}
                <br>  - Resposta : {{ quest.answer }}
                <br>
                <br>
                </a>
            </li>


    {% endfor %}
</ul>
<a href="{% url 'cadastro' %}">Novo Cadastro</a>
</body>
</html>